* {
    box-sizing: border-box;
}

<<<<<<< HEAD
=======
body{
    margin: 0;
    font-family: sans-serif;
}

>>>>>>> 31c155a (Setup)
.container {
    margin: 0 auto;
    width: 80%;
    padding: 2em;
<<<<<<< HEAD
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #3399cc;
	color: #fff;
	padding: 20px;
	text-align: center;
}

h1 {
	margin: 0;
	font-size: 36px;
}

main {
	margin: 20px;
}

section {
	margin-bottom: 20px;
}

h2 {
	font-size: 24px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	margin-bottom: 10px;
	font-size: 18px;
}

input[type="text"], input[type="submit"] {
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-bottom: 10px;
}

input[type="submit"] {
	background-color: #3399cc;
	color: #fff;
	cursor: pointer;
}

footer {
	background-color: #f2f2f2;
	padding: 20px;
	text-align: center;
}

#map{
	height: 400px;
	width: 100%;
=======
>>>>>>> 31c155a (Setup)
}