<!DOCTYPE html>
<html>

<head>
    <title>Hospital Location Finder</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/styles.css') }}" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Hospital Location Finder</h1>
    </header>
    <main class="container">
        <section id="search">
            <h2>Find Hospitals Near You</h2>
            <form onsubmit="return searchHospitals();">
                <label for="location">Enter Your Location:</label>
                <input type="text" id="location" name="location" placeholder="City, State or Zip Code">
                <input type="submit" value="Search">
            </form>
        </section>
        <section id="about">
            <h2>About Hospital Location Finder</h2>
            <p>Hospital Location Finder is a web application that helps you find hospitals near you. With our
                easy-to-use search function, you can quickly find hospitals in your area and get directions to them.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 Hospital Location Finder</p>
    </footer>

    <script src="{{ url_for('static', path='/javascript/index.js')}}"></script>
</body>

</html>